<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      You have successfully placed an order with us.
      Please find the details of order:
      <!-- As we are passing only @user and @order from user_mailer can only use those variables -->
      Your Order ID is: #<%= @order.id %><br>

      <br>
      Items you purchased are as below:
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= line_item.product.name %><br>
          <!-- Price is: <%= line_item.item_price %> -->
        <% end %>

        Total Purchase is: <%= @order.total_cents/100.00 %>
      </tbody>
    </p>
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>
